$bg-icons-margin: 30px;

.app {
  position: relative;
  height: 550px;
  max-width: 700px;
  margin: 0 auto;
}

.title {
  margin: 45px 0;
  color: rgb(71, 71, 177);
}

.bg-icon {
  display: inline-block;
  position: absolute;
  z-index: -1;
  background: url('./icons/bg-sphere1.svg') center/cover no-repeat;

  &--left {
    bottom: $bg-icons-margin;
    left: $bg-icons-margin;
    width: 250px;
    height: 250px;
  }
  &--right {
    top: $bg-icons-margin;
    right: $bg-icons-margin;
    width: 150px;
    height: 150px;
    background-image: url('./icons/bg-sphere2.svg');
  }
}
